@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;
$color-black: black;
$color-green: green;
$color-scrollbar: #b9b5b5;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

$transition-fast: 0.5s all;
$transition-slow: 2s all;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

/* Scrollbars */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $color-light;
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb {
  background: $color-scrollbar;
  border-radius: 50px;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  height: 100%;
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts {
  flex: 2 0 0;
  position: relative;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    transition: $transition-fast;
  }

  li:hover {
    transform: scale(1.2);
  }

  li a {
    text-decoration: none;
    color: $color-black;
  }

  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;

    a:hover {
      font-size: 16px;
      color: $color-green;
    }
  }
}

/* Tags */

.tags {
  height: 160px;
}

/* Authors */

.authors {
  height: 160px;
}

/* Posts */

.post {
  position: absolute;
  padding: 36px;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0.7);
  z-index: 10;
  transition: $transition-slow;

  &.active {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;

  p {
    margin: 0 10px 0 0;
  }
}

/* Footer */

footer {
  width: 100%;
  height: 28px;
  padding-top: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  a {
    margin-right: 10px;
    text-decoration: none;
    color: $color-black;
    font-size: 18px;
    transition: $transition-fast;

    i:first-of-type {
      border-radius: 50%;
      transition: $transition-fast;
    }
  }

  a:hover {
    transform: scale(1.2);
  }

  a:hover i:first-of-type {
    background-color: $color-green;
  }
}

/* Media - mobile phones and tablets screens */

@media (min-width: 200px) and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
    gap: 12px;
    height: 1650px;
  }

  .sidebar, .posts {
    width: 100%;
    max-height: 550px;
  }

  footer {
    justify-content: center;
  }
}
